langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
validators
youtube-transcript_api
pytube
unstructured
yt_dlp
huggingface-hub
gradio